@font-face {
  font-family: "Roboto-italic";
  src: url(../assets/fuentes/Roboto/Roboto-Italic.ttf) format("truetype");
}
body {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 140px;
  width: 100%;
}
.mainBody {
  background-image: url(../assets/img/Cover.png);
  position: fixed;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.socialLinks {
  background: #3aa79d;
  height: 50px;
}
.linksIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.linksIcons a {
  margin: 0 20px;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  color: #000000;
  text-decoration: none;
}
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80px;
}
.logoContainer {
  margin-left: 50px;
}
.logoContainer img {
  width: 200px;
  margin-top: 10px;
}
.myBlogs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
}
.myBlogs a {
  text-decoration: underline;
  color: #3aa79d;
}
.myBlogs a:hover {
  color: #66e6db;
}
/* main */
.home {
  display: block;
  text-align: center;
  height: 100vh;
}
.home h1 {
  font-size: 60px;
  margin: 0;
  width: 100%;
  margin-top: 100px;
  font-weight: normal;
  font-family: "Roboto-italic";
  color: #3aa79d;
  text-shadow: 3px 3px 0px #ca228e;
}
.home button {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Roboto-italic";
  font-weight: bold;
  padding: 10px 20px;
  background-color: #3aa79d;
  border: 1px solid rgba(32, 33, 36, 0.28);
  box-shadow: 3px 3px 0px #ca228e;
  cursor: pointer;
  border-radius: 10px;
  color: #ca228e;
}
.home button:hover {
  background: #66e6db;
  box-shadow: 3px 3px 0px #da5fae;
}
